.header {
  align-items: flex-end;
  // background-color: black;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__nav {
    display: flex;
  }
}

.header a img {
  position: absolute;
  top: -20px;
  left: -12px;
  width: 150px;
}

.navButton {
  width: 35px;
  margin: 10px 10px;
  transition: 0.3s;

  &:nth-child(1):hover {
    svg {
      color: #1da1f2;
    }
  }
  &:nth-child(2):hover {
    svg {
      color: #24292e;
    }
  }
}
